<h1>PRO Services!</h1>

<h2>Users</h2>

 <table class="listing" summary="Users list">
    <tr>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= mail_to(user.email) %></td>
      <td class="actions">
        
      </td>
    </tr>
    <% end %>
  </table>



<br />
<%= link_to "Sign In", new_user_session_path %>

<br />
<%= link_to "Sign Up", new_user_registration_path %>
