@import "bootstrap";

$blue: #053DA5;

h1 {color: $blue; }

/* HOME */
.blue-line {
  height: 1rem;
  background-color: #053da5; }

.blue-bg {
  background-color: #053da5; }

.promenu {
  font-size: 1.5rem; }

.main-text {
  font-size: 3.5rem;
  font-weight: bold; }

.promenu:hover {
  text-decoration: underline; }

.bg-gray {
  background-color: #ebebeb; }

.separator {
  height: 0.1rem;
  padding-left: 0;
  padding-right: 0; }

.nopx {
  padding-left: 0;
  padding-right: 0; }

.border-blue {
  border-style: solid;
  border-color: #053da5; }

.services ul {
  padding-left: 0; }

.services li {
  list-style: none; }

.vertical-blue {
  background-color: #053da5;
  width: 1rem; }

.bluebg {
  background-color: #f2f5fa; }